[Unit]
Description=Bluetooth Sensor Scanner
Documentation=man:ws-bluetooth-devices(1)
After=bluetooth.service
Wants=bluetooth.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ws-bluetooth-devices
