[Unit]
Description=Run Bluetooth Scanner every minute
Requires=ws-bluetooth-scanner.service

[Timer]
OnCalendar=*:*:00
Persistent=true
AccuracySec=1s

[Install]
WantedBy=timers.target
